.list {
  overflow-y: auto;
  height: 400px;
  width: 400px;
}

.newValueInput {
    width: 60px;

}

.tableButton {
    padding: 3px;
}

.valueWidth {
    width: 90px;
}

.buttonsWidth {
    width: 180px;
}

.inputField {
    width: 60px;
    height: 30px;
    text-align: center;
}